.title-bar {
  width: 100%;
  z-index: 10;
  height: 4.5em;
  padding-top: 0em;
}

.image-main {
  background: url(../assets/img/tree-main.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.grid-container.main {
  background-color: rgba(0, 0, 0, 0.4);
  border: hidden;
  height: 750px;
  text-align: center;
  color: #fff;
}

.image-test {
  background: url(../assets/img/tree-path.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.grid-container.test {
  background-color: rgba(0, 0, 0, 0.4);
  border: hidden;
  height: 800px;
  text-align: center;
  color: #fff;
}

.grid-x.main {
  height: 400px;
}

.grid-x,
.grid-y {
  margin-bottom: 1rem;
}

/* .cell {
  border: 1px solid black;
} */
