body {
  background-color: #000;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

a {
  color: #ddd;
}

.button.radius {
  border-radius: 3px;
  background-color: #aad;
}

.fa-github-square,
.fa-linkedin,
.fa-envelope {
  font-size: 3em;
}

.title-bar {
  width: 100%;
  z-index: 10;
  height: 4.5em;
  padding-top: 0em;
}

.headshot {
  border-radius: 100%;
  margin-top: 30px;
  height: 180px;
  width: 150px;
}

.image-main {
  background: url(../assets/img/tree-main.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container.main {
  background-color: rgba(0, 0, 0, 0.8);
  border: hidden;
  height: 700px;
  text-align: center;
  color: #fff;
}

.image-skills {
  background: url(../assets/img/tree-path.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container.skills {
  background-color: rgba(0, 0, 0, 0.8);
  border: hidden;
  height: 500px;
  text-align: center;
  color: #fff;
}

.skills{
  line-height: 2em;
}
.skill-start {
  list-style: none;
}

@media screen and (max-width: 40em){
  .skill-break {
    list-style: none;
  }
  .grid-container.main {
    height: 900px;
  }
}

.cell.projects, .cell.skills {
  margin-bottom: 5em;
  margin-top: 5em;
}

.image-projects {
  background: url(../assets/img/bridge.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container.projects {
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  height: 2200px;
  text-align: center;
  color: #fff;
}

.projects-div {
  background-color: rgba(210, 240, 240, 0.1);
  border: hidden;
  border-radius: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 40em){
  .grid-container.projects {
    height: 1300px;
  }
}

@media screen and (min-width: 64em){
  .grid-container.projects {
    height: 1200px;
  }
}

.proj-link:hover {
  color: #a0f;
  cursor: pointer;
}

.repo-link {
  color: #af0;
}

.image-contact {
  background: url(../assets/img/tree-sky.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.grid-container.contact {
  background-color: rgba(0, 0, 0, 0.8);
  border: hidden;
  height: 500px;
  text-align: center;
  color: #fff;
}

.grid-x.main {
  height: 400px;
}

.grid-x.skills {
  height: 400px;
}

.grid-x.projects {
  height: 400px;
}

.grid-x.contact {
  height: 400px;
}
.grid-x {
  margin-bottom: 1rem;
}

.tic-tac,
.peaks,
.curlpower,
.homepage {
  height: 300px;
  min-width: 250px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 300px;
}

/* .cell {
  border: 1px solid black;
} */
